<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">SENA Firebase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor que centra todo en el medio -->
  <div class="contenedor-centrado">
    
    <!-- Formulario para agregar -->
    <ion-item>
      <ion-label position="stacked">Nombre del producto</ion-label>
      <ion-input [(ngModel)]="nuevoNombre" placeholder="Ingrese nombre"></ion-input>
    </ion-item>
    
    <ion-button expand="block" (click)="guardar()">Guardar Producto</ion-button>

    <!-- Lista de elementos -->
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-label>{{ item.nombre }}</ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>